[Desktop Entry]
Encoding=UTF-8
Name=LTris
Comment=Tetris for Linux
Comment[pl]=Tetris dla Linuxa
Icon=ltris.png
Exec=ltris
Terminal=false
Type=Application
