[Desktop Entry]
Name=LTris
Comment=Tetris for Linux
Comment[pl]=Tetris dla Linuksa
Icon=ltris
Exec=ltris
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
